<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <!-- FRAME -->
    <div class="frame">
      <!-- MAIN-FRAME -->
      <div class="main_frame">
        <!-- LEFT-FRAME -->
        <div class="left_frame">
          <div class="left1">
            <!-- PROFILE -->
            <div class="left_1-1">
              <img class="" src="images/profile.png" width="156" height="142" />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <!-- PERSONAL-INFO -->
          <div class="left2">
            <div class="info__wrapper">
              <div class="info__container">
                <p class="info__title">Age:</p>
                <p class="info__info"><%=user.age%></p>
              </div>
              <div class="info__container">
                <p class="info__title">Residence:</p>
                <p class="info__info"><%=user.residence%></p>
              </div>
              <div class="info__container">
                <p class="info__title">Freelance:</p>
                <p class="info__info info_green">Available</p>
              </div>
              <div class="info__container">
                <p class="info__title">Address:</p>
                <p class="info__info"><%=user.address%></p>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <!-- LANGUAGES -->
          <div class="left3">
            <h3 class="left3__title">Languages</h3>
            <div class="languages__info">
              <p class="language__name"><%=user.languages[0]%></p>
              <p class="language_percent">100%</p>
            </div>
            <div class="percent-line">
              <div class="line-inside percent-line__bangla"></div>
            </div>
            <div class="languages__info">
              <p class="language__name"><%=user.languages[2]%></p>
              <p class="language_percent">80%</p>
            </div>
            <div class="percent-line">
              <div class="line-inside percent-line__english"></div>
            </div>
              <div class="languages__info">
                <p class="language__name"><%=user.languages[1]%></p>
                <p class="language_percent">60%</p>
              </div>
              <div class="percent-line">
                <div class="line-inside percent-line__spanish"></div>
              </div>
            </div>
            <div class="marginer"></div>
            <!-- SKILLS -->
            <div class="left4">
              <p class="skills__title">Skills</p>
              <div class="skills__container">
                <p class="skills__name"><%=user.skills[0]%></p>
                <p class="skills__percent">90%</p>
              </div>
              <div class="percent-line">
                <div class="line-inside percent-line__html"></div>
              </div>
              <div class="skills__container">
                <p class="skills__name"><%=user.skills[1]%></p>
                <p class="skills__percent">85%</p>
              </div>
              <div class="percent-line">
                <div class="line-inside percent-line__css"></div>
              </div>
              <div class="skills__container">
                <p class="skills__name"><%=user.skills[2]%></p>
                <p class="skills__percent">80%</p>
              </div>
              <div class="percent-line">
                <div class="line-inside percent-line__js"></div>
              </div>
              <div class="skills__container">
                <p class="skills__name"><%=user.skills[3]%></p>
                <p class="skills__percent">75%</p>
              </div>
              <div class="percent-line">
                <div class="line-inside percent-line__php"></div>
              </div>
              <div class="skills__container">
                <p class="skills__name"><%=user.skills[4]%></p>
                <p class="skills__percent">85%</p>
              </div>
               <div class="percent-line">
                <div class="line-inside percent-line__wordpress"></div>
              </div>
            </div>
            <div class="marginer"></div>
            <!-- EXTRA-SKILLS -->
            <div class="left5">
              <p class="extra-skills__title">Extra Skills</p>
              <ul class="extra-skills__list">
                <li class="extra-skills__item">
                  <img
                    class="extra-skills__img"
                    src="icon/extra-skills.svg"
                    alt=""
                  />
                  <p class="extra-skills__text">Bootstrap, Materialize</p>
                </li>
                <li class="extra-skills__item">
                  <img
                    class="extra-skills__img"
                    src="icon/extra-skills.svg"
                    alt=""
                  />
                  <p class="extra-skills__text">Stylus, Sass, Less</p>
                </li>
                <li class="extra-skills__item">
                  <img
                    class="extra-skills__img"
                    src="icon/extra-skills.svg"
                    alt=""
                  />
                  <p class="extra-skills__text">Gulp, Webpack, Grunt</p>
                </li>
                <li class="extra-skills__item">
                  <img
                    class="extra-skills__img"
                    src="icon/extra-skills.svg"
                    alt=""
                  />
                  <p class="extra-skills__text">GIT Knowledge</p>
                </li>
              </ul>
            </div>
            <div class="marginer"></div>
          </div>

          <!-- MIDD-FRAME -->
          <div class="midd_frame">
            <!-- MIDD-FRAME-TOP -->
            <div class="midd-frame__top">
              <div class="midd-frame__context">
                <h1 class="midd-frame__title">
                  Doctor neurologists in OHSU Hospital
                </h1>
                <p class="midd-frame__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                  volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                  suspendisse nunc lectus.
                </p>
                <a class="btn-link" href="">
                  <div class="btn-wrapper">
                    <p class="btn-text">Hire me</p>
                    <img
                      class="btn-icon"
                      src="btn_icon/butt-icon.svg"
                      alt=""
                      width="16"
                      height="16"
                    />
                  </div>
                </a>
              </div>
              <img
                class="midd-frame__img"
                src="images/midd-image.png"
                alt=""
                width="326"
                height="446"
              />

              <img
                class="rectangle-blue"
                src="icon/rectangle-blue.svg"
                alt=""
              />
              <img
                class="rectangle-orange"
                src="icon/rectangle-orange.svg"
                alt=""
              />
              <img class="circle-orange1" src="icon/circle-orange.svg" alt="" />
              <img class="circle-orange2" src="icon/circle-orange.svg" alt="" />
              <img class="circle-green1" src="icon/circle-green.svg" alt="" />
              <img class="circle-green2" src="icon/circle-green.svg" alt="" />
              <img class="triangle-red" src="icon/triangle-red.svg" alt="" />
            </div>

            <!-- SERVICES -->
            <div class="services">
              <div class="services-top__wrapper">
                <h2 class="services__title">My Services</h2>
                <p class="services__text">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  <br />do amet sint. Velit officia consequat duis enim velit
                  mollit. <br />lorem ipsum
                </p>
              </div>

              <ul class="services__list">
                <li class="services__item">
                  <img
                    class="services__img"
                    src="icon/coding.svg"
                    width="76"
                    height="76"
                  />
                  <h4 class="services__name">web development</h4>
                  <p class="services__desc">blog, e-commerce</p>
                </li>
                <li class="services__item">
                  <img
                    class="services__img"
                    src="icon/illustration.svg"
                    width="76"
                    height="76"
                  />
                  <h4 class="services__name">UI/UX design</h4>
                  <p class="services__desc">Mobile app, website design</p>
                </li>
                <li class="services__item">
                  <img
                    class="services__img"
                    src="icon/microphone.svg"
                    width="76"
                    height="76"
                  />
                  <h4 class="services__name">Sound design</h4>
                  <p class="services__desc">Voice Over, Beat Making</p>
                </li>
                <li class="services__item">
                  <img
                    class="services__img"
                    src="icon/game-development.svg"
                    width="76"
                    height="76"
                  />
                  <h4 class="services__name">Game design</h4>
                  <p class="services__desc">
                    Character Design, Props & Objects
                  </p>
                </li>
                <li class="services__item">
                  <img
                    class="services__img"
                    src="icon/photographer.svg"
                    width="76"
                    height="76"
                  />
                  <h4 class="services__name">photography</h4>
                  <p class="services__desc">portrait, product photography</p>
                </li>
                <li class="services__item">
                  <h4 class="services__name services__name-special">
                    Advertising
                  </h4>
                  <p class="services__desc services__desc-special">
                    Lorem ipsum dolor sit amet, <br />consectetur adipiscing
                    elit. Vitae <br />nulla diam in ac dictum a urna
                    <br />viverra morbi.
                  </p>
                  <a class="services-item__link" href=""
                    >Order now
                    <svg
                      width="6"
                      height="8"
                      viewBox="0 0 6 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.14314 4.00019L0.785645 1.64352L1.96398 0.464355L5.49981 4.00019L1.96398 7.53602L0.785645 6.35686L3.14314 4.00019Z"
                        fill="#FFB400"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- RIGHT-FRAME -->
          <div class="right_frame">
            <div class="contrast">
              <img
                class="contrast-icon"
                src="menu_icon/Contrast.svg"
                width="30"
                height="30"
              />
            </div>
            <div class="link-wrapper link-wrapper__home">
              <span class="visible postion home">Home</span>
              <div class="visible triangle-down"></div>
              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_6676)">
                    <path
                      d="M15 14.9999C15 15.1989 14.921 15.3896 14.7803 15.5303C14.6397 15.6709 14.4489 15.7499 14.25 15.7499H3.75C3.55109 15.7499 3.36032 15.6709 3.21967 15.5303C3.07902 15.3896 3 15.1989 3 14.9999V8.24994H0.75L8.49525 1.20894C8.63333 1.0833 8.81331 1.01367 9 1.01367C9.18669 1.01367 9.36667 1.0833 9.50475 1.20894L17.25 8.24994H15V14.9999Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_6676">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="link-wrapper link-wrapper__service">
              <span class="visible postion service">Services</span>
              <div class="visible triangle-down"></div>

              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_6666)">
                    <path
                      d="M17.5 4.28699V4.5H12V0H12.2603C12.5338 0 12.7962 0.0889101 12.9896 0.247113L17.198 3.69035C17.3913 3.8486 17.5 4.06321 17.5 4.28699ZM11.6562 5.625C11.0891 5.625 10.625 5.24531 10.625 4.78125V0H2.03125C1.4617 0 1 0.377754 1 0.84375V17.1562C1 17.6222 1.4617 18 2.03125 18H16.4688C17.0383 18 17.5 17.6222 17.5 17.1562V5.625H11.6562ZM6.29401 14.0803C6.27317 14.0984 6.24815 14.1131 6.22039 14.1234C6.19263 14.1337 6.16266 14.1394 6.13221 14.1402C6.10175 14.141 6.0714 14.1368 6.04289 14.1281C6.01437 14.1193 5.98826 14.106 5.96603 14.0889L3.17882 11.951C3.15567 11.9332 3.13722 11.9118 3.1246 11.888C3.11199 11.8641 3.10548 11.8384 3.10548 11.8125C3.10548 11.7865 3.11199 11.7608 3.1246 11.737C3.13722 11.7132 3.15567 11.6917 3.17882 11.674L5.96603 9.53606C5.98826 9.51901 6.01437 9.50571 6.04289 9.49691C6.0714 9.48812 6.10175 9.484 6.13221 9.48481C6.16266 9.48561 6.19263 9.49131 6.22039 9.50159C6.24815 9.51187 6.27317 9.52652 6.29401 9.54471L7.13529 10.2789C7.15655 10.2975 7.17304 10.3194 7.18377 10.3432C7.19451 10.3671 7.19927 10.3925 7.19778 10.4179C7.19629 10.4433 7.18858 10.4682 7.1751 10.4911C7.16161 10.514 7.14264 10.5345 7.11931 10.5513L5.36777 11.8125L7.11931 13.0737C7.14264 13.0905 7.16161 13.111 7.1751 13.1339C7.18858 13.1568 7.19629 13.1817 7.19778 13.2071C7.19927 13.2325 7.19451 13.2579 7.18377 13.2818C7.17304 13.3056 7.15655 13.3275 7.13529 13.3461L6.29401 14.0803ZM8.49809 15.8549L7.31847 15.5747C7.25937 15.5607 7.20951 15.528 7.17985 15.4839C7.15019 15.4398 7.14316 15.3878 7.1603 15.3394L9.8003 7.89947C9.81747 7.85112 9.85741 7.81032 9.91133 7.78606C9.96525 7.76179 10.0287 7.75603 10.0878 7.77006L11.2674 8.05025C11.2967 8.05721 11.324 8.06881 11.3478 8.08439C11.3716 8.09998 11.3914 8.11924 11.406 8.14109C11.4207 8.16294 11.43 8.18694 11.4334 8.21172C11.4367 8.2365 11.434 8.26158 11.4256 8.28552L8.78555 15.7255C8.77707 15.7494 8.76291 15.7718 8.74387 15.7913C8.72483 15.8107 8.70129 15.8269 8.6746 15.8389C8.6479 15.851 8.61857 15.8586 8.58829 15.8613C8.558 15.864 8.52735 15.8619 8.49809 15.8549ZM15.4071 11.951L12.6199 14.0889C12.5977 14.106 12.5716 14.1193 12.5431 14.1281C12.5145 14.1368 12.4842 14.141 12.4537 14.1402C12.4233 14.1394 12.3933 14.1337 12.3655 14.1234C12.3378 14.1131 12.3128 14.0984 12.2919 14.0803L11.4506 13.346C11.4293 13.3275 11.4129 13.3056 11.4021 13.2817C11.3914 13.2579 11.3866 13.2325 11.3881 13.2071C11.3896 13.1817 11.3973 13.1568 11.4108 13.1338C11.4243 13.1109 11.4433 13.0905 11.4666 13.0737L13.2182 11.8125L11.4666 10.5513C11.4433 10.5345 11.4243 10.514 11.4108 10.4911C11.3974 10.4682 11.3896 10.4433 11.3882 10.4179C11.3867 10.3925 11.3914 10.3671 11.4022 10.3432C11.4129 10.3194 11.4294 10.2975 11.4506 10.2789L12.292 9.54471C12.3128 9.52652 12.3378 9.51187 12.3656 9.50159C12.3934 9.49131 12.4233 9.48561 12.4538 9.48481C12.4842 9.484 12.5146 9.48812 12.5431 9.49691C12.5716 9.50571 12.5977 9.51901 12.62 9.53606L15.4072 11.674C15.4303 11.6917 15.4488 11.7132 15.4614 11.737C15.474 11.7608 15.4805 11.7865 15.4805 11.8125C15.4805 11.8385 15.474 11.8641 15.4613 11.888C15.4487 11.9118 15.4303 11.9332 15.4071 11.951Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_6666">
                      <rect
                        width="16.5"
                        height="18"
                        fill="white"
                        transform="translate(1)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="link-wrapper link-wrapper__cv">
              <span class="visible postion cv">Cv</span>
              <div class="visible triangle-down"></div>
              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_6659)">
                    <path
                      d="M12.7636 11.272L9.25 14.6259L5.73638 11.272C3.10301 11.381 1 13.4376 1 15.9759V16.3134C1 17.245 1.79185 18.0009 2.76786 18.0009H15.7321C16.7081 18.0009 17.5 17.245 17.5 16.3134V15.9759C17.5 13.4376 15.397 11.381 12.7636 11.272ZM1.50089 2.80635L1.73661 2.85909V4.91221C1.47879 5.05987 1.29464 5.31651 1.29464 5.62589C1.29464 5.9212 1.46406 6.16729 1.70346 6.31846L1.12891 8.5087C1.06629 8.75128 1.20625 9.00089 1.40882 9.00089H2.94833C3.15089 9.00089 3.29085 8.75128 3.22824 8.5087L2.65368 6.31846C2.89308 6.16729 3.0625 5.9212 3.0625 5.62589C3.0625 5.31651 2.87835 5.05987 2.62054 4.91221V3.06299L5.05134 3.62198C4.7346 4.22667 4.53571 4.90167 4.53571 5.62589C4.53571 8.11143 6.64609 10.1259 9.25 10.1259C11.8539 10.1259 13.9643 8.11143 13.9643 5.62589C13.9643 4.90167 13.7691 4.22667 13.4487 3.62198L16.9954 2.80635C17.6657 2.65166 17.6657 1.85362 16.9954 1.69893L9.98292 0.0817384C9.50413 -0.0272461 8.99955 -0.0272461 8.52076 0.0817384L1.50089 1.69541C0.834263 1.8501 0.834263 2.65166 1.50089 2.80635Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_6659">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="link-wrapper link-wrapper__portfolio">
              <span class="visible postion portfolio">Portfolio</span>
              <div class="visible triangle-down"></div>
              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_600)">
                    <path
                      d="M6.75 9.75V12H11.25V9.75H16.5V15C16.5 15.1989 16.421 15.3897 16.2803 15.5303C16.1397 15.671 15.9489 15.75 15.75 15.75H2.25C2.05109 15.75 1.86032 15.671 1.71967 15.5303C1.57902 15.3897 1.5 15.1989 1.5 15V9.75H6.75ZM8.25 8.25H9.75V10.5H8.25V8.25ZM5.25 3.75V1.5C5.25 1.30109 5.32902 1.11032 5.46967 0.96967C5.61032 0.829018 5.80109 0.75 6 0.75H12C12.1989 0.75 12.3897 0.829018 12.5303 0.96967C12.671 1.11032 12.75 1.30109 12.75 1.5V3.75H15.75C15.9489 3.75 16.1397 3.82902 16.2803 3.96967C16.421 4.11032 16.5 4.30109 16.5 4.5V8.25H11.25V6.75H6.75V8.25H1.5V4.5C1.5 4.30109 1.57902 4.11032 1.71967 3.96967C1.86032 3.82902 2.05109 3.75 2.25 3.75H5.25ZM6.75 2.25V3.75H11.25V2.25H6.75Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_600">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="link-wrapper link-wrapper__blog">
              <span class="visible postion blog">Blog</span>
              <div class="visible triangle-down"></div>
              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_604)">
                    <path
                      d="M15.75 1.5C4.5 1.5 3 12 2.25 16.5H3.7485C4.248 14.0002 5.49825 12.6255 7.5 12.375C10.5 12 12.75 9.375 13.5 7.125L12.375 6.375L13.125 5.625C13.875 4.875 14.628 3.75 15.75 1.5Z"
                      fill="#767676"
                    />
                    <rect
                      x="-38"
                      y="-44"
                      width="100"
                      height="100"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_604">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="link-wrapper link-wrapper__contact">
              <span class="visible postion contact">Contact</span>
              <div class="visible triangle-down"></div>
              <a href="link-link">
                <svg
                  class="link-icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2_6593)">
                    <path
                      d="M4.84125 14.25L1.5 16.875V3C1.5 2.80109 1.57902 2.61032 1.71967 2.46967C1.86032 2.32902 2.05109 2.25 2.25 2.25H15.75C15.9489 2.25 16.1397 2.32902 16.2803 2.46967C16.421 2.61032 16.5 2.80109 16.5 3V13.5C16.5 13.6989 16.421 13.8897 16.2803 14.0303C16.1397 14.171 15.9489 14.25 15.75 14.25H4.84125Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2_6593">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>